.featured{
    flex: 1;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #616161;

        .title{
            font-size: 16px;
            font-weight: 500;
        }
    }
    .bottom{
        padding: 20px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .featuredChart{
            width: 150px;
            height: 150px;
        }
        .title{
            font-weight: 500;
            color: #616161;
            margin-bottom: 5px;
        }
        .amount{
            font-size: 30px;
            margin: 5px 0;
            
        }
        .desc{
            font-weight: 300;
            font-size: 12px;
            color: #616161;
            text-align: center ;
            margin-top: 5 px;
            
        }
        .summary{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .item{
                text-align: center;


                .itemTitle{
                    font-size: 14px;
                    color: #616161;
                    
                }
                .itemResult{
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    margin-top: 10px;
                    

                    &.positive{
                        color: green;
                    }

                    &.negative{
                        color: red;
                    }

                    
                }
            }
           
            }
        }

    }
