.home {
    display: flex;
}

.home .homeContainer {
    flex: 6;
    background-color: whitesmoke;
    color: #616161;

    .widgets{
        display: flex;
        padding: 20px;
        gap: 20px;
    }
    .charts{
        display: flex;
        
        align-items: stretch;
        gap: 20px;
        width: 100%;
        height: 420px;
    }
}
